<div class="container mt8">
	<div class="row">
		<div class="col-md-12 table-responsive" id="trade_list">
			#springMessage("tip.loading")
		</div>
	</div>
</div>

<script type="text/javascript">
	require([	"jquery","template","trade/prop", "trade","messenger"],
		function(jQuery,  template,  prop,         trade,  messenger){
		
			trade.table.init({
				tpl:{
					"table":"tpl_trade_list"
				},
				renderTo:"trade_list",
				url:"#springUrl('/trade/list.do')",
				pager:{
					start:0,
					limit:20
				}
			});
			
			trade.table.search();
			
		}
	);
</script>

<script id="tpl_trade_list" type="text/html">
	<table class="table table-hover table-bordered">
		<thead>
		<tr class="active">
			<th class="text-center" width="10">#</th>
			<th class="text-center" >#springMessage('lb.trade.num')</th>
			<th class="text-center" >#springMessage('lb.trade.source.domain')</th>
			<th class="text-center">#springMessage('lb.trade.status')</th>
            <th class="text-center" width="10"></th>
		</tr>
		</thead>
		<tbody>
		{{each records as dto i}}
		<tr >
			<td >{{i + 1}}</td>
			<td >{{dto.trade.tradeNum}}</td>
			<td >{{dto.trade.sourceDomain}}</td>
			<td >{{dto.statusName}}</td>
			<td ></td>
		</tr>
		{{/each}}
		</tbody>
	</table>
</script>

#parse("/tpl/util/table.pager.bar.vm")