#globalHeader("index")
<div class="container">
	<div class="row">
		<div class="col-md-4">
			
		#parse("/sys/widget/sliderLogin.vm")
		##parse("/sys/widget/sliderRegist.vm")
		#parse("/sys/widget/sliderJoined.vm")

		</div>
		<div class="col-md-4">
			<div class="panel panel-primary">
            	<div class="panel-heading">
					#springMessage("tip.index.product.count")
            	</div>
				<div class="panel-body text-center">
                    <h3>$!{productCount}</h3>
            	</div>
			</div>
		</div>
		
		<div class="col-md-4">
			<div class="panel panel-success">
            	<div class="panel-heading">
					#springMessage("tip.index.account.count")
            	</div>
				<div class="panel-body text-center">
                    <h3>0</h3>
            	</div>
			</div>
		</div>
		
	</div>
	
    <div class="row">
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
	</div>
</div>

###loadScript([
##	"/js/jquery.extention/jqBootstrapValidation.js"
##])

