<div id="wrapper">
#globalHeader("index")

	<div id="page-wrapper">
		<div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">#springMessage("m.dashboard")</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
		
		<div class="row">
    		<div class="col-md-4">
    			
    		#parse("/sys/widget/sliderLogin.vm")
    		##parse("/sys/widget/sliderRegist.vm")
    		#parse("/sys/widget/sliderJoined.vm")
    
    		</div>
    		<div class="col-md-4">
    			<div class="panel panel-primary">
                	<div class="panel-heading">
    					#springMessage("tip.index.product.count")
                	</div>
    				<div class="panel-body text-center">
                        <h3>
    						<a href="#springUrl('/product/index.do')" >
    						$!{productCount}
    						</a>
    					</h3>
                	</div>
    			</div>
    		</div>
    		
    		<div class="col-md-4">
    			<div class="panel panel-success">
                	<div class="panel-heading">
    					#springMessage("tip.index.account.count")
                	</div>
    				<div class="panel-body text-center">
                        <h3>
    						<a href="#springUrl('/sys/user/index.do')" >
    						$!{accountCount}
    						</a>
    					</h3>
                	</div>
    			</div>
    		</div>
    		
    	</div>
    	
        <div class="row">
    		
    		<div class="col-md-4">
        		
    			<div class="panel panel-success">
                	<div class="panel-heading">
        				#springMessage("m.trade.kdt.scan")
                	</div>
        			<div class="panel-body text-center">
    					<h3>
                        <a href="#springUrl('/trade/kdt/ticket.do')" >#springMessage("m.trade.kdt.scan")</a>
    					</h3>
                	</div>
        		</div>
    			
    		</div>
    		
    		<div class="col-md-4">
    			<div class="panel panel-warning">
                	<div class="panel-heading">
        				#springMessage("m.trade.statistics.today")
                	</div>
        			<div class="panel-body text-center">
    					<h3>
    						<a href="#springUrl('/trade/index.do')" >$!{tradeTodayCount}</a>
    					</h3>
                	</div>
        		</div>
    		</div>
    		
    	</div>
	</div>
</div>

###loadScript([
##	"/js/jquery.extention/jqBootstrapValidation.js"
##])

