#macro(springUrl $relativeUrl )$springMacroRequestContext.getContextPath()${relativeUrl}#end
#macro(imgUrl $imgUrl)$springMacroRequestContext.getContextPath()$!{imgUrl}#end


#macro(pageNav $pageContext $url $suffixUrl $template)
 #set($totalPage=((${pageContext.totals} - 1)/${pageContext.limit})+1)
 #set($currentPage=(${pageContext.start}/${pageContext.limit})+1)
     <ul class="pagination">
         <li><a href='$!{url}?start=0&pageSize=$!{pageContext.limit}&$!{suffixUrl}' >|&laquo;</a></li>
         #set($start=${pageContext.start} - ${pageContext.limit})
         #if(0 >= $start)
             #set($start = 0)
         #end
         <li><a href='$!{url}?start=$!start&pageSize=$!{pageContext.limit}&$!{suffixUrl}' >&laquo;</a></li>
         #foreach($jj in [-5..3])
             #if(($currentPage+$jj)>=0 && $totalPage > ($currentPage+$jj))
                 #set($start = ($currentPage + $jj)*${pageContext.limit} )
                 #set($nowPage = $currentPage + $jj + 1)
                 #if($start == ${pageContext.start})
                     <li class="active"><span>$nowPage <span class="sr-only">(current)</span></span></li>
                 #else
                     <li><a href='$!{url}?start=$start&pageSize=$!{pageContext.limit}&$!{suffixUrl}' >$nowPage</a></li>
                 #end
             #end
         #end
         #set($start=${pageContext.start} + ${pageContext.limit})
         #if($start > ${pageContext.totals})
             #set($start=(${totalPage} - 1)*${pageContext.limit})
         #end
         <li><a href='$!{url}?start=$!start&pageSize=$!{pageContext.limit}&$!{suffixUrl}' >&raquo;</a></li>
         #set($start=(${totalPage} - 1)*${pageContext.limit})
         <li><a href='$!{url}?start=$!start&pageSize=$!{pageContext.limit}&$!{suffixUrl}' >&raquo;|</a></li>
     </ul>
#end

##用于确定菜单选中项
#macro(globalHeader $menuIdx $subMenuIdx)
#parse("/common/globalHeader.vm")
#end

#macro(loadScript $jsArr $domain)
	#foreach($js in $!{jsArr})
		#if($js != "")
			#if($domain != "")
				<script src="${domain}${js}"></script>
			#else
				<script src="#springUrl('')$js"></script>
			#end
		#end
	#end
#end

#macro(loadCss $cssArr $domain)
	#foreach($css in $!{cssArr})
		#if($css != "")
			#if($domain != "")
				<link href="${domain}${css}" rel="stylesheet" />
			#else
				<link href="#springUrl('')$css" rel="stylesheet" />
			#end
		#end
	#end
#end

