<!DOCTYPE html>
<html>
  <head>
    <title>#springMessage("global.seo.title")</title>
	<meta name="keywords" content="#springMessage('global.seo.keywords')" />
	<meta name="description" content="#springMessage('global.seo.description')" />
	
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		
	<link href="#springUrl('/css/global.css')" rel="stylesheet" />
	<!--
	<link href="http://cdn.bootcss.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" rel="stylesheet" />
	-->
	
	#parse("/common/import/bootstrap.vm")
	
	#loadCss([
		"/plugin/messenger/build/css/messenger.css",
		"/plugin/messenger/build/css/messenger-theme-block.css"
	])
	
    <script type="text/javascript" >
		var CONTEXT_PATH="#springUrl('')";
		var LOCALE="$!{locale}";
		//var JU=eval('$!{juser}');
	</script>
	
	<script src="#springUrl('/js/require.js')" ></script>
	<script src="#springUrl('/js/main.js')?v=20141214.0" ></script>
	
  </head>
  <body>
	$screen_content
	#parse("/common/globalFooter.vm")
  </body>
</html>

