<!DOCTYPE html>
<html>
  <head>
    <title>YYSOFT - ERP</title>
	<meta name="keywords" content="YYSOFT,ERP" />
	<meta name="description" content="YYSOFT,ERP" />
	
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		
	<link href="#springUrl('/css/global.css')" rel="stylesheet" />
	<link href="http://cdn.bootcss.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" rel="stylesheet" />
	#parse("/common/import/bootstrap.vm")
    <script type="text/javascript" >
		var CONTEXT_PATH="#springUrl('')";
		var LOCALE="$!{locale}";
	</script>
	<script src="#springUrl('/js/require.js')" ></script>
	<script src="#springUrl('/js/main.js')" ></script>
  </head>
  <body>
	$screen_content
	#parse("/common/globalFooter.vm")
  </body>
</html>

