<!DOCTYPE html>
<html>
  <head>
    <title>#springMessage("global.seo.title")</title>
	<meta name="keywords" content="#springMessage('global.seo.keywords')" />
	<meta name="description" content="#springMessage('global.seo.description')" />
	<link rel="shortcut icon" href="http://img.caiban.net/caiban/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		
	<link href="#springUrl('/css/global.css')" rel="stylesheet" />
	
	##"/plugin/font-awesome/css/font-awesome.min.css",
	#loadCss([
		"/plugin/bootstrap/dist/css/bootstrap.min.css",
		"/plugin/metisMenu/dist/metisMenu.min.css",
		"/plugin/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css",
		"/plugin/font-awesome/css/font-awesome.min.css"
	], "")
	
    <script type="text/javascript" >
		var CONTEXT_PATH="#springUrl('')";
		var LOCALE="$!{locale}"==""?"zh":"$!{locale}";
		//var JU=eval('$!{juser}');
	</script>
	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	<script src="#springUrl('/js/require.js')" ></script>
	<script src="#springUrl('/js/main.js')?v=20150329.8" ></script>
	
  </head>
  <body>
	
	<div id="wrapper">
		#parse("/common/globalHeader.vm")
		<div id="page-wrapper">
			$screen_content
		</div>
	<!-- /. page-wrapper -->
	</div>
	<!-- /. wrapper -->
	##parse("/common/globalFooter.vm")
	
	#parse("/common/globalFooter.vm")
  </body>
</html>

