#set($layout="/layout/everyday_page.vm")

<div class="container">
	
	<div class="alert alert-danger mt8" role="alert">每1天，1件事，记1笔，进步一点点！</div>

#foreach($everyday in ${pager.records})
<div class=" panel panel-$!{everyday.panelClass} mt8" >

    <div class="panel-body" style="word-break:break-all">
		<h4>
			$!{everyday.content}
		#if($!{everyday.url} != "")
			<a href="$!{everyday.url}" target="_blank">
                <i class="fa fa-link" ></i>
			</a>
		#end
		</h4>
		
	</div>
	<div class="panel-heading">
		<div class="row">
			<div class="col-sm-offset-4 col-sm-8 ">
				#D$!{everyday.dayIndex}
				#foreach($tag in ${everyday.tagList})
					#$!{tag}
				#end
			</div>
		</div>
	</div>
</div>
#end

<nav>
  <ul class="pager">
    <li class="previous"><a href="#springUrl('/f/feveryday/index.do')?wxOpenid=$!{cond.wxOpenid}&start=$!{pager.preStart}&limit=$!{pager.limit}"><span aria-hidden="true">&larr;</span> 往前</a></li>
	<li >
		$!{pager.totals}
    </li>
    <li class="next"><a href="#springUrl('/f/feveryday/index.do')?wxOpenid=$!{cond.wxOpenid}&start=$!{pager.nextStart}&limit=$!{pager.limit}">往后 <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>

</div>


#parse("/f/feveryday/pub_footer.vm")