#globalHeader("trade")

<script type="text/javascript" src="http://s0.caiban.net/downloads/lodop/LodopFuncs.js"></script>

<div class="container">
	
	#if("$!{error}"!="")
		<div class="row">
    		<div class=" col-sm-12 text-center">
    			<div class="alert alert-warning alert-dismissable">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <strong>#springMessage("tip.warn")</strong> #springMessage($error) 
                </div>
            </div>
		</div>
	#else
		<form id="formKdt" name="formKdt" class="form-horizontal" role="form" 
			method="post" 
			action="#springUrl('/trade/kdt/doMarksign.do')"
			onsubmit="return false;"
			>
			<div class="row">
    			<div class="thumbnail col-md-offset-2 col-md-2" >
    				<img src="$!{trade.pic_thumb_path}" alt="$!{trade.title}"/>
    			</div>
    			<div class="col-md-6">
					<h2>$!{trade.title} * $!{trade.num} <small>$!{tradeNum}</small> </h2>
					<h3>#springMessage("tip.trade.customer.nick")：$!{trade.buyer_nick}</h3>
					<div class="table-responsive">
                        <h4>#springMessage("tb.trade.kdt.order.table.title")<small>(￥$!{trade.total_fee})</small>：</h4>
						
						<table class="table">
                            <tr>
								<th>#springMessage("tb.trade.kdt.order.num.iid")</th>
								<th>#springMessage("tb.trade.kdt.order.title")</th>
								<th>#springMessage("tb.trade.kdt.order.num")</th>
								<th>#springMessage("tb.trade.kdt.order.price")</th>
								<th>#springMessage("tb.trade.kdt.order.seller.nick")</th>
							</tr>
							#foreach($order in $!{trade.orders})
							<tr>
								<td>$!{order.num_iid}</td>
								<td>$!{order.title}</td>
								<td><span class="badge">$!{order.num}</span></td>
								<td>￥$!{order.price}</td>
								<td>$!{order.seller_nick}</td>
							</tr>
							#end
                        </table>
					</div>
    			</div>
			</div>
			
			<div class="row">
				<button type="submit" class="btn btn-primary col-sm-offset-2 col-sm-8">#springMessage('btn.trade.confirm')</button>
			</div>
			<input type="hidden" name="tradeNum" value="$!{tradeNum}" />
		</form>
		<br /><br /><br />
		
		<script type="text/javascript">
        	require([	"jquery","util/kdtprint","messenger","Bootstrap","validator"],
            	function(jQuery,kdtprint){
					var message=Messenger();
					
            		jQuery("#formKdt").submit(function(){
						var data={"tradeNum":"$!{tradeNum}"};
						jQuery.post("#springUrl('/trade/kdt/doMarksign.do')", data, function(resp){
						debugger;
            				if(resp.result){
            					//TODO 显示正确的信息，并且打印出来
								console.log(resp.data.message);
								message.post({
            						message:resp.data.message,
            						type: 'info'
            					});
								var details = JSON.parse(resp.data.details);
								kdtpring.print(details);
								
								window.location.href="#springUrl('/trade/kdt/ticket.do')";
            				}else{
            					message.post({
            						message:resp.data,
            						type: 'error'
            					});
            				}
            			}, "json");
						return false;
					});
					
            	}
            );
        	
        </script>
	#end
	
</div>
	
