#globalHeader("trade")

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<br /><br /><br /><br /><br /><br />
			#if("$!{error}"!="")
				<div class=" col-sm-12 text-center">
					<div class="alert alert-warning alert-dismissable">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                      <strong>#springMessage("tip.warn")</strong> #springMessage($error) 
                    </div>
                </div>
			#end
			
			#if("$!{success}"!="")
				<div class=" col-sm-12 text-center">
					<div class="alert alert-success alert-dismissable">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                      #springMessage($success) 
                    </div>
                </div>
			#end
			
			<form id="formKdt" name="formKdt" class="form-horizontal" role="form" method="post" action="#springUrl('/trade/kdt/doCheckTicket.do')" >
				<div class="form-group ">
					<div class="col-sm-offset-3 col-sm-6">
					<label>#springMessage("tip.trade.scan")</label>
					<input type="text" class="form-control" id="tradeNum" name="tradeNum" value="" 
						placeholder="#springMessage('ph.trade.num')" 
						required
						/>
					</div>
				</div>
            </form>
			<br /><br /><br /><br /><br /><br />
			<br /><br /><br /><br /><br /><br />
		</div>
	</div>
</div>
	
<script type="text/javascript">
	require([	"jquery","Bootstrap","validator"],
    	function(jQuery){
    		jQuery("#formKdt").validator();
			
			jQuery("#tradeNum").focus();
			
			jQuery("#tradeNum").change(function(){
				var _val=jQuery(this).val();
				
				console.log(_val.length);
				
				if(_val.length == 21){
					jQuery("#formKdt").submit();
				}
				
			});
    	}
    );
</script>