#globalHeader("index")

<div class="container">
<div class="panel panel-default">
    <div class="panel-body">
		
        <form id="formRegist" name="formRegist" class="form-horizontal" role="form" method="post" action="#springUrl('/p/puser/doRegist.do')">
			<div class="form-group">
				<div class="col-sm-offset-4 col-sm-4">
					<h1 >#springMessage("addon.regist.title")</h1>
                </div>
			</div>
			#if("$!{error}" !="" )
			<div class="form-group">
				<div class="col-sm-offset-4 col-sm-4">
					<div class="alert alert-warning alert-dismissable">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                      <strong>#springMessage("tip.warn")</strong> #springMessage($error) 
                    </div>
                </div>
			</div>
			#end
			
			
			  <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
					<label for="account">#springMessage("sys.user.cid")</label>
					<select name="cid" >
        				#foreach( $c in $companyList)
        					<option value="$!{c.id}">$!{c.name}</option>
        				#end
                      </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
					<label for="account">#springMessage("sys.user.account")</label>
					<input type="text" class="form-control" id="account" name="account" value="$!{user.account}" placeholder="#springMessage('ph.sys.user.account')" required />
    				##<p class="help-block"></p>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
					<label for="inputPassword3">#springMessage("sys.user.password")</label>
					<input type="password" class="form-control" id="password" name="password" value="" placeholder="#springMessage('ph.sys.user.password')" required />
    			  ##<p class="help-block"></p>
                </div>
              </div>
			  
			  <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
					<label for="inputPassword3">#springMessage("sys.user.password.repeat")</label>
					<input type="password" class="form-control" name="passwordRepeat" value="" placeholder="#springMessage('ph.sys.user.password.repeat')" required />
    			  ##<p class="help-block"></p>
                </div>
              </div>
			  
              <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8 ">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="accept" value="1" checked />#springMessage('addon.regist.accept')
					  <a href="#springUrl('/p/puser/forget.do')" >#springMessage("addon.regist.term.service")</a>
                    </label>
                  </div>
                </div>
              </div>
			  
			  <div class="form-group" >
				<div class="col-sm-offset-4 col-sm-8">
                  <button type="submit" class="btn btn-primary">#springMessage('btn.regist')</button>
                </div>
			  </div>
              </a>
            </form>
    	</div>
    </div>
</div>
#loadScript(["/js/jquery.extention/jqBootstrapValidation.js"])
<script type="text/javascript">
	jQuery(document).ready(function(){
		jQuery("#formRegist").jqBootstrapValidation();
	});
</script>
</div>