#set($layout="/layout/simple_page.vm")
<div class="container">
	
<div class=" panel panel-default mt8" >
	<div class="panel-heading">
		<a href="#springUrl('/index.do')">
		<img src="http://img.caiban.net/caiban/logo.128.png" width="96"/>
		</a>
    </div>
    <div class="panel-body">
        <form id="formLogin" name="formLogin" class="form-horizontal" role="form" onsubmit="return false;" >
			<input type="hidden" name="refurl" value="$!{refurl}" />
			<input type="hidden" name="refparam" value="$!{refparam}" />
			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-6 text-center">
					<h1 >#springMessage("addon.wx.login.title")</h1>
                </div>
			</div>
			
              <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
					<label for="account">#springMessage("sys.user.account")</label>
					<input type="text" class="form-control" id="account" name="account" value="$!{user.account}" placeholder="#springMessage('ph.sys.user.account')" required />
    				##<p class="help-block"></p>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
					<label for="inputPassword3">#springMessage("sys.user.password")</label>
					<input type="password" class="form-control" id="password" name="password" value="" placeholder="#springMessage('ph.sys.user.password')" required />
    			  ##<p class="help-block"></p>
                </div>
              </div>
			  
              <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8 ">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="rememberMe" value="1" checked />#springMessage('addon.login.remember')
                    </label>
    				##<a href="#springUrl('/p/puser/forget.do')" >#springMessage("addon.login.forget")</a>
                  </div>
                </div>
              </div>
			  
			  <div class="form-group" >
				<div class="col-sm-offset-4 col-sm-4">
                  <button type="submit" id="login_btn" class="btn btn-lg btn-success btn-block">#springMessage('btn.login')</button>
                </div>
			  </div>
              </a>
        </form>
	</div>
	<div class="panel-footer">
		<div class="row">
			<div class="col-sm-offset-4 col-sm-8">
				<a href="https://github.com/x03570227/one-day-project" target="_blank">
					<i class="fa fa-github fa-lg text-muted" ></i>
				</a>
				#springMessage("tip.wx.login.1")
                <a href="#springUrl('/p/puser/regist.do')" >#springMessage("tip.login.2")</a>
			</div>
		</div>
	</div>
</div>
</div>

</div>

<script type="text/javascript">

require([   "jquery","js/erp/sysUser","js/app/i18n_zh_CN"
	,"Bootstrap","validator","noty"],
	function(jQuery,  sysUser,               i18n){
		jQuery("#formLogin").validator();
		
		jQuery("#login_btn").click(function(e){
		
			if(jQuery("#login_btn").hasClass("disabled")){
				noty({
					text:i18n.get('FORM_INVALID'),
					type:"warning",
					timeout:2500
				});
				return false;
			}
			
			sysUser.doLogin(jQuery("#formLogin"), "$!{refurl}");
			
			return false;
		});
		
	}
);

</script>