<!-- Static navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">搞活动，用AA</a>
        </div>
        <div class="navbar-collapse collapse">
          
		  <ul class="nav navbar-nav">
            <li class="active " >
				<a href="#springUrl('/')">公开活动</a>
			</li>
			<li>
				<a href="#">活动搞起</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">我的活动<b class="caret"></b></a>
              <ul class="dropdown-menu">
				<li><a href="#">我组织的</a></li>
				<li><a href="#">我参加的</a></li>
				<li class="divider"></li>
                <li><a href="#">发起活动</a></li>
              </ul>
            </li>
          </ul>
		  
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-user">
						x03570227/登录
					</span>
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#">基本资料</a></li>
					<li><a href="#">密码管理</a></li>
                </ul>
			</li>
          </ul>
		  
        </div><!--/.nav-collapse -->
      </div>
    </div>