<div class="row">
	<ul class="nav nav-tabs mt8">
		<li #if("${tab_idx}" == "0") class="active" #end>
			<a href="#springUrl('/product/edit.do')?id=$!{id}">
			<i class="fa fa-list-ul fa-fw"></i>
			#if("$!{id}" != "")
				#springMessage("m.product.edit")
			#else
				#springMessage("m.product.create")
			#end
			</a>
		</li>
		#if("$!{id}" != "")
		<li #if("${tab_idx}" == "1") class="active" #end>
			<a href="#springUrl('/product/price/index.do')?id=$!{id}">
			<i class="fa fa-dollar fa-fw"></i>
			#springMessage("m.product.price")
			</a>
		</li>
		<li #if("${tab_idx}" == "2") class="active" #end>
			<a href="#springUrl('/product/picture/index.do')?id=$!{id}">
			<i class="fa fa-file-picture-o fa-fw"></i>
			#springMessage("m.product.pictures")
			</a>
		</li>
		<li #if("${tab_idx}" == "3") class="active" #end>
			<a href="#springUrl('/product/group.do')?id=$!{id}">
			<i class="fa fa-paperclip fa-fw"></i>
			#springMessage("m.product.group")
			</a>
		</li>
		#end
	</ul>
</div>
