<div class="row mt8">
	<div class="table-responsive" id="product_list">
		#springMessage("tip.loading")
	</div>
</div>

<script type="text/javascript">
	require([	"jquery","template","product/prop", "product","noty"],
		function(jQuery,  template,  prop,           product){
		
			product.table.init({
				tpl:{
					"table":"tpl_product_list"
				},
				renderTo:"product_list",
				url:"#springUrl('/product/list.do')",
				//"url-d":"#springUrl('/product/doDelete.do')",
				pager:{
					start:0,
					limit:20
				}
			});
			
			product.table.search();
			
			/**
			jQuery("#product_list .act-delete").bind("click", function(o){
				alert(jQuery(this).attr("model-product-id"));
			});
			**/
			
			//处理展开效果
			jQuery("#product_list").on("click", "td[data-act=toggle-details]", function(){
			
				var id=jQuery(this).attr("model-id");
				
				if(jQuery("#tr-details-"+id).hasClass("hide")){
					jQuery("#tr-details-"+id).removeClass("hide");
				}
				
				if(jQuery(this).hasClass("dropup")){
					jQuery("#tr-details-"+id).hide();
					jQuery(this).removeClass("dropup");
					jQuery(this).parent().removeClass("info");
				}else{
					jQuery("#tr-details-"+id).show();
					jQuery(this).addClass("dropup");
					jQuery(this).parent().addClass("info");
					product.buildDetails("#tr-details-"+id+" td", id);
				}
				
			});
		}
	);
</script>

<script id="tpl_product_list" type="text/html">
	<table class="table table-hover table-bordered">
		<thead>
		<tr class="active">
			<th class="text-center" width="10"></th>
			<th class="text-center" width="10">#</th>
			<th class="text-center" >#springMessage('tb.product.code')</th>
			<th class="text-center" >#springMessage('tb.product.category.name')</th>
			<th class="text-center" width="80">#springMessage('tb.product.status.life')</th>
			<th class="text-center" >#springMessage('tb.product.name')</th>
			<th class="text-center" >#springMessage('tb.product.remark')</th>
            <th class="text-center" width="70"></th>
		</tr>
		</thead>
		<tbody>
		{{each records as product i}}
		<tr >
			<td data-act="toggle-details" model-id="{{product.id}}">
				<span class="caret"></span>
			</td>
			<td >{{i + 1}}</td>
			<td >
##				<a href="{{product.picturePath}}" target="_blank">
##					<span class="glyphicon glyphicon-picture"></span>
##				</a>
				{{product.code}}
			</td>
			<td >{{product.categoryName}}</td>
			<td >{{product.statusLife}}</td>
			<td ><a href="#springUrl('/product/edit.do?id='){{product.id}}" >{{product.name}}</a></td>
			<td >{{product.remark}}</td>
			<td >
			
			{{if product.categoryCode=="XN-LY-MP"}}
			<a href="http://qr.liantu.com/api.php?text=$!{qrcodeUrl}cid%3D{{product.cid}}%26pid%3D{{product.id}}" 
				class="btn btn-success btn-xs"
				target="_blank"
				>
				<span class="glyphicon glyphicon-qrcode"></span>
			</a>
			{{/if}}
			
			<button type="button" class="btn btn-danger btn-xs act-delete" model-product-id="{{product.id}}">
				<span class="glyphicon glyphicon-trash"></span>
			</button>
			</td>
		</tr>
		<tr id="tr-details-{{product.id}}" class="info hide">
			<td colspan="8"></td>
		</tr>
		{{/each}}
		</tbody>
	</table>
</script>

#parse("/tpl/util/table.pager.bar.vm")
