<div class="container">
	<div class="row">
		<nav class=" navbar navbar-default" >
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#product_search_form" >
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">#springMessage("tip.product.search.brand")</a>
				</div>
				<div class="collapse navbar-collapse" id="product_search_form">
				</div>
			</div>
		</nav>
	</div>
</div>

<script type="text/javascript">
	require([	"jquery","template","product/prop","product"],
		function(jQuery,  template,  prop,          product){
			
			var html=template("tpl_product_search_form", prop);
			
			jQuery("#product_search_form").html(html);
			
			jQuery("#search_form").submit(function(fm){
				
				product.table.setStart(0);
				
				product.table.search(jQuery("#search_form").serialize());
				return false;
			});
			
			jQuery("#product_search_form").on("click","#btn-clear-filter", function(){
				jQuery("#search_form")[0].reset();
				product.table.setStart(0);
				product.table.search();
			});
			
		}
	);
</script>

<script id="tpl_product_search_form" type="text/html">
<form class="navbar-form navbar-left" role="search" action="#springUrl('/product/index.do')" id="search_form">

	<div class="form-group">
		<label class="sr-only" for="exampleInputEmail2">#springMessage('ph.product.search.code')</label>
		<input type="text" class="form-control" name="codeMatchBefore" placeholder="#springMessage('ph.product.search.code')" />
	</div>
	
	<div class="form-group">
		<label class="sr-only" for="exampleInputEmail2">#springMessage('ph.product.search.name')</label>
		<input type="text" class="form-control" name="nameMatchBefore" placeholder="#springMessage('ph.product.search.name')" />
	</div>
	
	<div class="form-group">
		<select class="form-control" name="categoryCode">
			<option value="" >--#springMessage('ph.product.category.code')--</option>
			{{each category as p}}
			<option value="{{p.code}}" >{{p.name}}</option>
			{{/each}}
		</select>
	</div>
	
	<div class="form-group">
		<select class="form-control" name="statusLife">
			<option value="" >--#springMessage('ph.product.status.life')--</option>
			{{each statusLife as p}}
			<option value="{{p.code}}" >{{p.name}}</option>
			{{/each}}
		</select>
	</div>
	
	<div  class="form-group">
	<button type="submit" class="btn btn-primary">
		<span class="glyphicon glyphicon-search"></span> #springMessage('btn.search')
	</button>
    </div>
	
	<div  class="form-group">
	<button id="btn-clear-filter" type="button" class="btn btn-default" title="#springMessage('btn.search.clear')">
		<span class="glyphicon glyphicon-filter"></span>
	</button>
    </div>
</form>
</script>

	
