	#loadCss(["/plugin/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"], "http://s0.caiban.net")
	
	#set($tab_idx="1")
	#parse("/product/widget/nav_tab.vm")
	
	<div class="table-responsive" >
		
    <div class="mt8">
		<form id="price_form" class="form-inline" 
			action="#springUrl('/product/price/doCreate.do')" 
			method="post" role="form" 
			onsubmit="return false;">
			
			<input type="hidden" name="productId" value="$!{id}" />
			<input type="hidden" name="priceUnitCode" value="RMB_YUAN" />
			
			<div class="form-group" data-widget="priceCode">
        		<label class="sr-only" >#springMessage('lb.product.price.code')</label>
##        		<input type="text" class="form-control" name="account"
##					value=""
##					placeholder="#springMessage('ph.product.price.code')"
##    				pattern="^(${sessionUser.account}:[a-zA-Z0-9\u4E00-\u9FA5]{2,16})$" 
##    				required
##				/>

        	</div>
        	
        	<div class="form-group">
        		<label class="sr-only" >#springMessage('lb.product.price.value')</label>
        		<input type="text" class="form-control" name="priceValue" 
					placeholder="#springMessage('ph.product.price.value')" 
					required
					pattern="^(([1-9]\d*)(\.\d{1,2})?)$|(0\.0?([1-9]\d?))$"
				/>
        	</div>
			
			<div class="form-group">
        		<label class="sr-only" >#springMessage('lb.product.price.remark')</label>
        		<input type="text" class="form-control" name="remark" 
					placeholder="#springMessage('ph.product.price.remark')"
				/>
        	</div>
			
			<div class="form-group">
        		<div class="input-group" data-widget="date">
        			<span class="input-group-addon glyphicon glyphicon-calendar"></span>
                    <input type="text" class="form-control" 
    					name="gmtExpired" id="gmtExpired" readonly 
    					placeholder="#springMessage('ph.product.price.gmt.expired')"
    					value="$!date.format('yyyy-MM-dd', $!{cond.gmtCreatedMax})" />
    			</div>
        	</div>
		
			<div  class="form-group">
            	<button id="price_submit_btn" type="submit" class="btn btn-success" title="#springMessage('btn.save')">
            		<span class="glyphicon glyphicon-plus"></span>
            	</button>
            </div>
			
		</form>
	</div>
	
	<div id="product_price_list" class="mt8">
	#springMessage("tip.loading")
    </div>
</div>

<!-- Reset user password modal start -->
<div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalTitle">#springMessage("m.user.password")</h4>
      </div>
        <form id="resetForm" onsubmit="return false;">
      <div class="modal-body">
			<input type="hidden" id="resetUid" name="uid" value="" />
          <div class="form-group">
            <label for="recipient-name" class="control-label">#springMessage("lb.sys.user.password.new"):</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="#springMessage('ph.sys.user.password.new')" required>
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">#springMessage("lb.sys.user.password.repeat"):</label>
            <input type="password" class="form-control" name="confirm" placeholder="#springMessage('ph.sys.user.password.repeat')" required>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">#springMessage('btn.close')</button>
        <button type="submit" class="btn btn-primary" id="reset_password_btn">#springMessage("btn.save")</button>
      </div>
        </form>
    </div>
  </div>
</div>
<!-- Reset user password modal end -->

<script type="text/javascript">
	require([	"jquery","template","product/prop","js/erp/product.price"
				,"validator","datetimepicker","noty","dplocale"],
		function(jQuery,  template,  prop,          price){
		
			jQuery("div[data-widget=date] input").datetimepicker({
        		format:"yyyy-mm-dd",
        		minView:3,
        		autoclose:true,
        		todayBtn:true,
        		language:LOCALE,
        		pickerPosition: "bottom-left"
        	});
			
			var priceCodeHtml=template("tpl_price_code_select", prop);
			jQuery("div[data-widget=priceCode]").append(priceCodeHtml);
			
			jQuery("#price_form").validator();
			
			jQuery("#price_form").submit(function(){
			
				if(jQuery("#price_submit_btn").hasClass("disabled")){
					noty({
						text:"#springMessage('msg.form.invalid')",
						type:"warning",
						timeout:2500
					});
					return false;
				}
			
				price.form.save("#springUrl('/product/price/doCreate.do')", jQuery(this), function(resp){
						jQuery("#price_form")[0].reset();
						price.table.refresh();
				});
				
				return false;
			});
			
			price.table.init({
				tpl:{
					"table":"tpl_product_price_list"
				},
				renderTo:"product_price_list",
				url:"#springUrl('/product/price/list.do')"
			});
			
			price.table.search({productId:"$!{id}"});
			
			jQuery("#product_price_list").on("click", "button[data-act=remove]", function(){
				var id= jQuery(this).attr("model-id");
				var pid=jQuery(this).attr("model-product-id");
				price.remove({id:id,productId:pid}, jQuery(this));
			});
		}
	);
</script>

<script id="tpl_price_code_select" type="text/html" >
	<select name="priceCode" class="form-control" required >
		<option value="">--#springMessage("ph.product.price.code")--</option>
		{{each priceCode as pc idx}}
		<option value="{{pc.code}}">{{pc.name}}</option>
		{{/each}}
	</select>
</script>

<script id="tpl_product_price_list" type="text/html">
	<table class="table table-hover table-bordered">
		<thead>
		<tr class="active">
			<th class="text-center" width="10">#</th>
			<th class="text-center" >#springMessage('lb.product.price.code')</th>
			<th class="text-center" >#springMessage('lb.product.price.remark')</th>
			<th class="text-center" >#springMessage('lb.product.price.value')</th>
			<th class="text-center" >#springMessage('lb.product.price.gmt.expired')</th>
			<th width="15"></th>
		</tr>
		</thead>
		<tbody>
		{{each records as record i}}
		<tr {{if record.expired }} class="text-muted" {{/if}}>
			<td >{{i + 1}}</td>
			<td >
				{{each priceCode as pc idx}}
				{{if record.priceCode == pc.code}} {{pc.name}} {{/if}}
        		{{/each}}
			</td>
			<td>{{record.remark}}</td>
			<td class="text-right">{{record.priceValue}}</td>
			<td>{{record.gmtExpired}}</td>
			<td >
    			<button type="button" class="btn btn-danger btn-xs" 
					data-act="remove" 
					model-id="{{record.id}}"
					model-product-id="{{record.productId}}"
					>
    				<span class="glyphicon glyphicon-remove"></span>
    			</button>
			</td>
		</tr>
		{{/each}}
		</tbody>
	</table>
</script>

