#if($!{sessionUser})
<div class="panel panel-default">
	<div class="panel-heading">
	##springMessage("addon.slider.user.join.title")
		${company.name}
	</div>
	<div class="list-group">
		<a href="#springUrl('/product/index.do')" class="list-group-item">
			<span class="glyphicon glyphicon-th-list"></span> 
			#springMessage('m.product')
		</a>
	</div>
	<div class="list-group">
		<a href="#springUrl('/product/edit.do')" class="list-group-item">
			<span class="glyphicon glyphicon-plus"></span>
			#springMessage('m.product.create')
		</a>
	</div>
</div>
#end