    <!-- Bootstrap -->
##    <link href="http://cdn.bootcss.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="#springUrl('/plugin/bootstrap/css/bootstrap.min.css')" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
##    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
##    <script src="http://cdn.bootcss.com/jquery/2.0.3/jquery.min.js"></script>
##    <!-- Include all compiled plugins (below), or include individual files as needed -->
##    <script src="http://cdn.bootcss.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
