#globalHeader("product", "edit")
<div class="container" >
	<div class="row">
		<form id="product_form" class="form-horizontal" action="#springUrl('/product/')" method="post" role="form" onsubmit="return false;">
		<div class="col-md-2" >
			<nav class="affix" data-spy="affix" role="navigation" id="product_define_nav">
				<ul class="nav nav-pills nav-stacked" >
					<li>
						<a href="#product">#springMessage("tip.product.define")</a>
					</li>
					<li >
						<a href="#product_define_common">#springMessage("tip.product.define.common")</a>
					</li>
					<li >
						<a href="#product_define_category">#springMessage("tip.product.define.category")</a>
					</li>
				</ul>
				
				<button id="product_submit_btn" type="submit" class="btn btn-primary" data-loading-text="#springMessage('tip.loading')">#springMessage('btn.submit')</button>
			</nav>
		
		</div>
		
		<div class="col-md-8">
			<input type="hidden" name="id" value=""/>
			<input type="hidden" name="details" id="details" value="" />
			<div class="panel panel-default" id="product">
				<div class="panel-heading">
					#springMessage("tip.product.define")
				</div>
				<div class="panel-body">
					
						<div class="form-group">
							<label for="name" class="col-sm-2 control-label">#springMessage("lb.product.code")：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="code" placeholder="#springMessage('ph.product.code')" required />
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="col-sm-2 control-label">#springMessage("lb.product.name")：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="name" placeholder="#springMessage('ph.product.name')" required />
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="col-sm-2 control-label">#springMessage("lb.product.category")：</label>
							<div class="col-sm-10">
								<select id="categoryCode" name="categoryCode" class="form-control" required >
									<option value="">#springMessage('ph.product.category')</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class=" col-sm-12" id="editor">
								<textarea class="form-control" name="remark" rows="4" placeholder="#springMessage('ph.product.remark')"></textarea>
							</div>
						</div>
						
                </div>
			</div>
			
			<div class="panel panel-default" id="product_define_common">
				<div class="panel-heading">
					#springMessage("tip.product.define.common")
				</div>
				<div class="panel-body">
					//公共属性
				</div>
			</div>
			
			<div class="panel panel-default" id="product_define_category">
				<div class="panel-heading">
					#springMessage("tip.product.define.category")
				</div>
				<div class="panel-body">
				</div>
			</div>
			
		</div>
		</form>
	</div>
</div>

<script type="text/javascript">
	require([	"jquery","template","product/prop", "product","messenger", "util/cache", "validator"],
		function(jQuery,  template,  prop,           product,  messenger,   cache,        validator){
			
			//init base form
			jQuery("#categoryCode").append(product.compileOption("category"));
			
			//setting common properties
			jQuery("#product_define_common .panel-body").empty();
			jQuery("#product_define_common .panel-body").append(product.initDefineForm("common"));
			
			//setting event of category change
			jQuery("#categoryCode").change(function(){
				
				var _this=jQuery(this);
				var v = _this.val();
				
				var html = "";
				if(v==""){
					html=cache.get("prop_define", function(){
						return jQuery("#product_define_category .panel-body").html();
					});
					
					jQuery("#product_define_category .panel-body").html(html);
					return true;
				}
				
				var cacheKey = "prop_define_"+v;
				
				html = cache.get(cacheKey, function(){
					return product.initDefineForm(v);
				});
				
				jQuery("#product_define_category .panel-body").html(html);
				
			});
			
			var vr = jQuery("#product_form").validator();
			
			/*
			jQuery("#product_submit_btn").click(function(){
				jQuery("#product_form").submit();
			});
			*/
			
			jQuery("#product_form").submit(function(e){
			
				if(jQuery("#product_submit_btn").hasClass("disabled")){
					return false;
				}
				
				var df = new Array();
				df.push("common");
				if(jQuery("#categoryCode").val()!=""){
					df.push(jQuery("#categoryCode").val());
				}
				
				var productDefine = product.buildDefine(df);
				jQuery("#details").val(productDefine);
				
				product.save("#springUrl('/product/doUpdate.do')",jQuery(this));
				
				return false;
			});
			
			//初始化各种信息
			
			#if(${id} && ${id} >0 )
			
			//Messenger().post("#springMessage('tip.loading')");
			
			product.fillForm(
				"#springUrl('/product/queryFull.do')", 
				${id}, 
				"product_form", 
				jQuery("#product_define_category .panel-body")
			);
			
			#end
		}
	);
</script>

#parse("/product/tpl/defineForm.vm")
