#globalHeader("index")

#loadCss(["/button.css"])

<div class="container">
	<div class="row">
		<div class="col-md-12">
			
			<!-- 按钮 -->
			<a href="#" class="button button-rounded button-flat-primary"><i class="icon-refresh"></i> press me</a>

			<br />
			<br />
			<a href="#" class="button button-circle button-primary">press me</a>
			
			<br />
			<br />
			<span class="button-wrap"><a href="#" class="button button-circle button-primary">press me</a></span>
			
		</div>
	</div>
</div>